p {
    color: rgb(46, 126, 26);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #18d500;
    background: linear-gradient(90deg, #18d500 0%, #1c672f 80%);
    background: -webkit-linear-gradient(90deg, #18d500 0%, #1c672f 80%);
    background: -moz-linear-gradient(90deg, #18d500 0%, #1c672f 80%);
    border-radius: 10px;
    padding: 10px;
    width: 350px;
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #18d500;
    background: linear-gradient(90deg, #18d500 0%, #1c672f 80%);
    background: -webkit-linear-gradient(90deg, #18d500 0%, #1c672f 80%);
    background: -moz-linear-gradient(90deg, #18d500 0%, #1c672f 80%);
    border-radius: 10px;
    padding: 10px;
    width: 350px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

h4 {
    font-family: monospace;
    font-size: 20px;
    background: #18d500;
    background: linear-gradient(90deg, #18d500 0%, #27ac45 80%);
    background: -webkit-linear-gradient(90deg, #18d500 0%, #27ac45 80%);
    background: -moz-linear-gradient(90deg, #18d500 0%, #27ac45 80%);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    box-shadow: 10px 5px 10px black;
    width: 750px;
    height: 20px;
    margin: 20px;

}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}